data-dir = "./data"

[pages]
protocol = "tcp"
address = ":3333"

[caddy]
protocol = "tcp"
address = ":3334"

[wildcard]
domain = "codeberg.page"
clone-url = "https://codeberg.org/%s/%s.git"
index-repo = "%s.codeberg.page"
