# Requires secrets to be set:
#  - S3_ENDPOINT
#  - S3_ACCESS_KEY_ID
#  - S3_SECRET_ACCESS_KEY
#  - S3_BUCKET
#  - GIT_PAGES_CONFIG

[build]
dockerfile = "Dockerfile"

[experimental]
cmd = ["supervisord"]

[[vm]]
cpu-type = "shared"
cpus = 2
memory = 512

[env]
AUTOMEMLIMIT = "0.25"

[[files]]
guest_path = "/app/config.toml"
secret_name = "GIT_PAGES_CONFIG"

[[services]]
internal_port = 80
protocol = "tcp"
ports = [{ port = 80 }]
auto_stop_machines = "stop"
auto_start_machines = true

[[services]]
internal_port = 443
protocol = "tcp"
ports = [{ port = 443 }]
auto_stop_machines = "stop"
auto_start_machines = true

[checks.health]
type = "http"
method = "get"
port = 2002
path = "/"
grace_period = "5s"
interval = "2s"
timeout = "1s"
