[listen]
pages = "tcp/:3000"
caddy = "tcp/:3001"
health = "tcp/:3002"

# [[wildcard]]
# domain = "codeberg.page"
# clone-url = "https://codeberg.org/<user>/<project>.git"
# index-repos = ["<user>.codeberg.page", "pages"]
# fallback-proxy-to = "https://codeberg.page"

[backend]
type = "fs"

[backend.fs]
root = "data"

# [backend.s3]
# endpoint = "play.min.io"
# access-key-id = "Q3AM3UQ867SPQQA43P2F"
# secret-access-key = "zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG"
# region = "us-east-1"
# bucket = "git-pages-demo"

# [limits]
# max-site-size = "128M"
# max-manifest-size = "1M"
# max-inline-file-size = "256B"
# git-large-object-threshold = "1M"
# max-symlink-depth = 16
# update-timeout = "60s"
