# Unless otherwise noted, every value in this file is the same
# as the intrinsic default value.

log-format = "text"
log-level = "info"

[server]
# Use "-" to disable the handler.
pages = "tcp/:3000"
caddy = "tcp/:3001"
metrics = "tcp/:3002"

[[wildcard]] # non-default section
domain = "codeberg.page"
clone-url = "https://codeberg.org/<user>/<project>.git"
index-repos = ["<user>.codeberg.page", "pages"]
index-repo-branch = "main"
authorization = "forgejo"

[fallback] # non-default section
proxy-to = "https://codeberg.page"
insecure = false

[storage]
type = "fs"

[storage.fs]
root = "./data"

[storage.s3] # non-default section
endpoint = "play.min.io"
access-key-id = "Q3AM3UQ867SPQQA43P2F"
secret-access-key = "zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG"
region = "us-east-1"
bucket = "git-pages-demo"

[storage.s3.blob-cache]
max-size = "256MB"

[storage.s3.site-cache]
max-size = "16MB"
max-age = "60s"
max-stale = "1h"

[limits]
max-site-size = "128M"
max-manifest-size = "1M"
max-inline-file-size = "256B"
git-large-object-threshold = "1M"
max-symlink-depth = 16
update-timeout = "60s"
max-heap-size-ratio = 0.5 # * RAM_size
forbidden-domains = []
# allowed-repository-url-prefixes = <nil>
allowed-custom-headers = ["X-Clacks-Overhead"]

[observability]
slow-response-threshold = "500ms"
